<div class="card card-single direct-chat {{ class }} {{ ifelse(start_collapsed, 'collapsed-card start-collapsed', '') }}"{{ card_id }} data-title="{{ get0('data_title', ifnotfound = '') }}">
  <div class="card-header {{ class_header }}" style="{{ ifelse(length(style_header), paste(style_header, collapse=';'), '') }}">
    <h3 class="card-title">{{ title }}</h3>
    <!-- Buttons, labels, and many other things can be placed here! -->
    <div class="card-tools">
      {{ tools }}
      <button type="button" class="btn btn-tool card2-switch" title="Configurations" data-widget="chat-pane-toggle">
        <i class="fas fa-ellipsis-v"></i>
      </button>
    </div>
  </div>
  <div class="card-body card2-body {{ class_body }}" style="{{ ifelse(length(style_body), paste(style_body, collapse=';'), '') }};">
    <div class="direct-chat-messages fill padding-0">
      {{ body_main }}
    </div>
    <div class="direct-chat-contacts fill padding-0">
      {{ body_side }}
    </div>
  </div>
  {{ footer }}
</div>
